[build]
  publish = "/"
  command = ""

[[redirects]]
  from = "/*"
  to = "/Index.html"
  status = 200
  force = true

[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"